@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.header {
    display: inline;
}

.heading {
    display: inline;
    margin-left: 40px;
    font-family: 'Lato', sans-serif;
}

.product__buttons {
    display: inline;
    gap: 10px;
    margin-left: 900px;
}

.btn-primary {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-danger {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: buttonface;
    padding: 5px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header__line {
    margin-top: 8px;
}

@media screen and (max-width: 450px) {
    .header {
        display: inline;
    }
    
    .heading {
        display: inline;
        margin-left: 20px;
    }
    
    .product__buttons {
        display: inline;
        gap: 20px;
        margin-left: 10px;
    }

    .header__line {
        margin-top: 8px;
        width: 90%;
    }
}

.footer {
    padding-top: 450px;
    min-height: 100px;
    display: block;
    
}

.footer__p {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card-box-values {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 200px;
    font-size: 12px;
    font-weight: 600;
}

.card-box-order-mine {
    display: inline-block;
    width: 200px;
    border: 3px solid black;
    margin: 10px;
    margin-bottom: 5px;
    max-width: 190px;
    max-height: 190px;
}