@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.header {
    display: inline;
}

.heading {
    display: inline;
    margin-left: 40px;
    font-family: 'Lato', sans-serif;
}

.product__buttons {
    display: inline;
    gap: 10px;
    margin-left: 900px;
}

.save__product {
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
   
    padding: 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cancel__button {
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: buttonface;
    padding: 4px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header__line {
    margin-top: 8px;
}

@media screen and (max-width: 450px) {
    .header {
        display: inline;
    }
    
    .heading {
        display: inline;
        margin-left: 20px;
    }
    
    .product__buttons {
        display: inline;
        gap: 20px;
        margin-left: 10px;
    }

    .header__line {
        margin-top: 8px;
        width: 90%;
    }
}

#sku {
    margin-left: 20px
}

#name {
    margin-left: 15px
}

.product_switcher {
    display: flex;
    gap: 20px;
    margin: 40px 0px 0px 0px;
}

.dvd {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 40px 0px 0px 30px;
}

.dvd_descr {
    margin: 20px 0px 0px 30px;
    font-weight: 600;
}

.furniture {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 40px 0px 0px 30px;
}

.furniture_descr {
    margin: 20px 0px 0px 30px;
    font-weight: 600;
}

.book {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 40px 0px 0px 30px;
}

.book_descr {
    margin: 20px 0px 0px 30px;
    font-weight: 600;
}

.footer {
    padding-top: 450px;
    min-height: 100px;
    display: block;
    
}

.footer__p {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}